@charset "UTF-8";

/* すべての要素のmarginとpaddingを0に設定します */
* {
    margin: 0;
    /* 要素の外側の余白を0にする */
    padding: 0;
    /* 要素の内側の余白を0にする */
}

@font-face {
    font-family: font;
    src: url(azuki.ttf);
}


html,
body {
    margin: 0;
    padding: 0;
    font-family: "游ゴシック", YuGothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
    /* フォントを指定する */
}

/* 全てのh1 */

h1 {
    color: #ffffff;
    /* フォントの色を指定する */
    font-size: 100px;
    /* フォントの大きさを指定する */
    font-family: "Chalkboard SE";
    text-align: center;
    /* 文字・画像を中央にそろえる */
    height: 450px;
    /* 高さを指定する */
    padding-top: 200px;
}

/* h2のclass title */

.title {
    color: #ffffff;
    text-align: center;
    font-size: 45px;
    padding-left: 15px;
    margin-bottom: 50px;
    font-family: "Nanum Gothic";
}

.title1 {
    color: #0068B7;
    text-align: center;
    font-size: 45px;
    padding-left: 15px;
    margin-bottom: 50px;
    font-family: "Nanum Gothic";
}

/* headerはここ */

header {
    background-image: url(img/rose.jpg);
    height: 600px;
    padding-top: 30px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/* navはここ */

nav {
    background-color: background-color: rgba(33, 39, 98, 0.5);
    /* 背景色を指定する */
    margin-left: 1220px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}

nav a {
    color: #ffffff;
    text-decoration: none;
    /* 文字の装飾を指定する */
}

nav a:hover {
    color: #ffcc11;
}

ul {
    list-style-type: none;
    /* リストのマーカーを指定する */
    padding-left: 0;
}

nav ul {
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: center;
}

nav li {
    display: inline-block;
    /* 要素の表示形式を指定する */
}

/* sectionのclass shop */

.shop {
    background-color: #BAD4EE;
    color: #ffffff;
    padding: 30px;
    height: 450px;
}

.shop p {
    font-size: 20px;
    height: 300px;
    margin-top: 30px;
    padding-left: 200px;

}

.shop img {
    float: right;
    /* 要素の回り込みを指定する */
}

/* sectionのclass photo */

.photo {
    padding: 30px;
    background-color: #ffffff;
    height: 450px;
}

.photo h2 {
    color: #0068B7;
    border-color: #ffcc11;
}

.setsumei {
    padding: 80px;
    font-size: 20px;
    color: #001D42;
    font-family: "Arial Unicode MS";
    /*    clear: left;*/
    /* 要素の回り込みを解除する */
}

.big {
    float: left;
    margin-left: 60px;
    box-shadow: 10px 10px 20px #BAD4EE;
}

.ComDiary {
    color: #00426D;
    float: left;
    font-size: 50px;
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 70px;
    font-family: "Chalkboard";
    text-decoration: none;
}



.access h3 {
    font-size: 50px;
    font-family: 'Lobster', cursive;
    margin-top: 0;
}

.access div {
    width: 50%;
    float: left;
}

/* footerはここ */

footer {
    text-align: center;
    color: #ffffff;
    background: #445597;
}

.small {
    float: left;
    margin-left: 60px;
}

.irare {
    padding: 30px;
    background-color: #BAD4EE;
    height: 450px;
}

.illustrator {
    text-align: center;
    margin-left: 0;

}

.illustrator img {
    display: inline-block;

}

.sns {
    background-color: #ffffff;
    height: 450px;
    padding-top: 30px;
}


.insta {
    padding-top: 50px;
    padding-left: 710px;
    text-align: center;
    float: left;
    text-decoration: none;
    color: #1B4A8B;
}

.fb {
    float: left;
    padding-left: 40px;
    padding-top: 50px;
    text-decoration: none;
    text-align: center;
    color: #1B4A8B;
}

.shop h3 {
    font-size: 40px;
    color: #1B4A8B;
    padding-left: 240px;
    font-family: "Yuanti SC";
}

/*
.torisetsu {
    background-color: #ffffff;
    height: 450px;
    padding-top: 30px;
}
*/

.setsumei2 {
    font-size: 26px;
    color: #4E4449;
    font-family: "font";
    padding-left: 980px;
}

.setsumei3 {
    font-size: 26px;
    color: #4E4449;
    font-family: "font";
    padding-left: 980px;
    padding-top: 50px;
}

@media screen and (max-width: 767px) {


    .big {
        margin-left: 65px;
        margin-right: 60px;
    }

    .ComDiary {
        font-size: 30px;
        margin-left: 105px;
        margin-right: 5px;
        margin-top: 15px;
    }

    .setsumei {
        font-size: 13px;
        margin-left: 0px;
        padding: 30px;
        clear: both;
    }

    .irare {
        height: 600px;
    }

    .illustrator {
        text-align: center;
        margin-left: 0;

    }

    .illustrator img {
        display: inline-block;

    }

    .setsumei3 {
        font-size: 20px;
        padding-left: 0px;
        padding-top: 40px;
    }


    .insta {
        padding-top: 0px;
        padding-left: 150px;
        float: none;
        text-decoration: none;
        text-align: center;
    }

    .fb {
        padding-left: 130px;
        padding-top: 30px;
        text-decoration: none;
        text-align: center;

    }

    .sns {
        background-color: #ffffff;
        height: 400px;
        padding-top: 30px;
    }

    .setsumei2 {
        font-size: 20px;
        padding-left: 0px;
    }

    .shop h3 {
        font-size: 20px;
        padding-left: 0px;
        text-align: center;
    }

    .shop p {
        font-size: 16px;
        margin-top: 20px;
        padding-left: 40px;
        padding-right: 40px;

    }

    .photo {
        padding: 30px;
        background-color: #ffffff;
        height: 600px;
    }

    .title {
        color: #ffffff;
        text-align: center;
        font-size: 45px;
        padding-left: 15px;
        margin-bottom: 20px;
        font-family: "Nanum Gothic";
    }

    .shop {
        background-color: #BAD4EE;
        color: #ffffff;
        padding-top: 30px;
        height: 400px;

    }

    nav {
        margin-top: 0px;
        margin-bottom: 0px;
        margin-left: 5px;
        margin-right: 5px;
        text-align: center;
    }
}